<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendarios personalizados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Personaliza tu calendario !!</h1>
    <form action="/generate" method = 'POST'>
        <label for="year">Año: </label>
        <input type="number" name="year" min="1980" max="2100" required>

        <label for="month">Mes: </label>
        <select name="month" required>
            {% for i in range(1, 13) %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        <button type="submit">Generar calendario</button>
    </form>

    {% if calendar_url %}
        <h2> Aquí está tu calendario: </h2>
        <img src="{{ url_for('static', filename=calendar_url) }}" alt="Calendario generado">
        <br>
        <a href="{{ url_for('static', filename=calendar_url) }}" download="calendario.png">
            <button>Descargar Calendario</button>
        </a>
    {% endif %}
</body>
</html>